.login-page{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    border: 3px solid grey;
    height: 55vh;
}

.login-inputs {
    padding: 10px;
}

.spacing {
    padding: 15px;
}

.submit-button {
   margin: 30px 0 0 0;
   padding-left: 35%;
}

